<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyMed-HeathCare </title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <a href="#" class="logo"><i class="fas fa-hospital"></i>EasyMed-HealthCare </a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#services">services</a>
        <a href="#about">about</a>
        <a href="#doctors">doctors</a>
        <a href="#book">Book an Appoinment</a>
        <a href="#review">review</a>
        <a href="Signin_index">Management Login</a>
       
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="image">
        <img src="/images/home.jpg" alt="">
    </div>

    <div class="content">
        <h3>stay safe, stay healthy</h3>
        <p>for better consultency contact us</p>
        <a href="#" class="btn" id="BTN"> contact us <span class="fas fa-chevron-right"></span> </a>
    
    </div>
    <div id="myModal" class="modal">

        <div class="modal-content">
          <span class="close">&times;</span>
          <p><h2>We provide u the best medication .Largest network of the world’s finest and brightest medical experts who provide compassionate care using outstanding expertise and advanced technology.</h2></br>
            <h1>Total Care :</h1>
        <h2> Service Excellence at  Hospitals is must do imperative. EasyMed Hospitals benchmarks with the best among the world’s service organizations to create a culture of Patient  Engagement  with   
             a service vision of “Offering Care beyond Compare”. Our biggest asset is our engaged workforce that takes pride in their work and ensures that every transaction is converted into memorable
             experience for our Patients. 
        </h2></br></br>
            <h2>
            For Abulance service dial : 102</h2></br></br>
             <h2>Emergency service : 0562-242424</h2></br>


          </p>
        </div>
   
</section>

<!-- home section ends -->

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-user-md"></i>
        <h3>120+</h3>
        <p>doctors at work</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>1000+</h3>
        <p>satisfied patients</p>
    </div>

    <div class="icons">
        <i class="fas fa-procedures"></i>
        <h3>500+</h3>
        <p>bed facility</p>
    </div>

    <div class="icons">
        <i class="fas fa-hospital"></i>
        <h3>50+</h3>
        <p>available hospitals</p>
    </div>

</section>

<!-- icons section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-notes-medical"></i>
            <h3>free checkups</h3>
            <p>Best serives provided here.</p>
            <a href="#" class="btn" id="BTN"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-ambulance"></i>
            <h3>24/7 ambulance</h3>
            <p>ambulance services also available.</p>
            <a href="#" class="btn" id="BTN" > learn more <span class="fas fa-chevron-right"></span> </a>
        </div>
       

        <div class="box">
            <i class="fas fa-user-md"></i>
            <h3>expert doctors</h3>
            <p>Best serives provided here.</p>
            <a href="#" class="btn" id="BTN"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-pills"></i>
            <h3>medicines</h3>
            <p>Best serives provided here.</p>
            <a href="#" class="btn" id="BTN"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-procedures"></i>
            <h3>bed facility</h3>
            <p>Best serives provided here.</p>
            <a href="#" class="btn" id="BTN"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-heartbeat"></i>
            <h3>total care</h3>
            <p>Best serives provided here.</p>
            <a href="#" class="btn" id="BTN"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>
   

</section>

<!-- services section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src="/images/doctorAboutUs.webp" alt="">
        </div>

        <div class="content">
            <h3>we take care of your healthy life</h3>
            <p>Our mission is to offer patient-centered, high-quality services resulting in a better healthcare experience and accurate diagnosis for patients.</p>
            <p>To provide the best individualized treatment to patients, tailor-made to suit their needs.To make the entire process a memorable experience with our holistic approach and quality patient care. </p>
            <a href="#" class="btn" > learn more <span class="fas fa-chevron-right"></span> </a>
        </div>
       
          
          </div>
    

    </div>

  </section>

  <!-- about section ends -->

  <!-- doctors section starts  -->

  <section class="doctors" id="doctors">

    <h1 class="heading"> our <span>doctors</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="/images/doctor.jpg" alt="">
            <h3>Dr.Human sharma</h3>
            <span>expert doctor Cardiologist</span>
           
        </div>

        <div class="box">
            <img src="/images/doctor1.jpg" alt="">
            <h3>Dr.Piyush jaiswal</h3>
            <span>expert doctor Neurologist</span>
           
        </div>

        <div class="box">
            <img src="/images/doctor.jpg" alt="">
            <h3>Dr.Jitendra</h3>
            <span>expert doctor Physician</span>
          
        </div>

        <div class="box">
            <img src="/images/doctor.jpg" alt="">
            <h3>Dr.Arshad Pathan</h3>
            <span>expert doctor Cardiologist</span>
          
        </div>

        <div class="box">
            <img src="/images/doctor.jpg" alt="">
            <h3>Dr.Abhishek</h3>
            <span>expert doctor</span>
            <span>child specialist
            </span>
          
        </div>

        

    </div>

</section>

<!-- doctors section ends -->

<!-- booking section starts   -->

<section class="book" id="book">

    <h1 class="heading"> <span>book</span> now </h1>    

    <div class="row">

        <div class="image">
            <img src="/images/about.png" alt="">
        </div>

       
        <form action="/book_appointment" method="post" >
            <h3>book appointment</h3>
            <input type="text" placeholder="your name" name="cus_name" class="box">
            <input type="number" placeholder="your number" name="cus_no" class="box">
            <input type="email" placeholder="your email" name="cus_email" class="box">
            <input type="date" class="box" name="app_date">
            <select  name="doctor_name" Size="Number_of_options" class="bb">  
                <option> Dr.Piyush jaiswal</option>  
                <option> Dr.Human Sharma </option>  
                <option> Dr.Jitendra</option>  
                <option> Dr.Abhishek </option>
                <option> Dr.Arshad Pathan</option>  
              </select>  
            
            <input type="submit" value="book now" class="btn">
        </form>
    </div>

</section>

<!-- booking section ends -->

<!-- review section starts  -->

<section class="review" id="review">
    
    <h1 class="heading"> client's <span>review</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="/images/client.jpg" alt="">
            <h3>Udiya</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">This hopsital has good and experienced staff and lab technicians and they also have some of the best doctors. I am glad that I was admitted here.</p>
        </div>

        <div class="box">
            <img src="/images/client1.jpg" alt="">
            <h3>arshad </h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">The expertise of the doctor at this hospital was the main reason that I choose to go with this hospital and I was not disappointed at all.</p>
        </div>

        <div class="box">
            <img src="/images/client2.jpg" alt="">
            <h3>Jitendra</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class = "text">This hospital provides cashless service option if the health insurance providers that you have choosen are in thier list and they did took really good care of my daughter who was suffering from dengue.</p>
        </div>
        
        <a href="/feedback" class="btn" id="BTN" > ADD REVIEW </span> </a>
        
    </div>

</section>

<!-- review section ends -->

<!-- blogs section starts  -->


<!-- blogs section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a href="#home"> <i class="fas fa-chevron-right"></i> home </a>
            <a href="#services"> <i class="fas fa-chevron-right"></i> services </a>
            <a href="#about"> <i class="fas fa-chevron-right"></i> about </a>
            <a href="#doctors"> <i class="fas fa-chevron-right"></i> doctors </a>
            <a href="#book"> <i class="fas fa-chevron-right"></i> book </a>
            <a href="#review"> <i class="fas fa-chevron-right"></i> review </a>
          
        </div>

        <div class="box">
            <h3>our services</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i> dental care </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> message therapy </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> cardioloty </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> diagnosis </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> ambulance service </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +916260461164 </a>
            <a href="#"> <i class="fas fa-phone"></i> +0562-222-3333 </a>
            <a href="#"> <i class="fas fa-envelope"></i> jitendramewadanimcet2021@gmail.com </a>
            <a href="#"> <i class="fas fa-envelope"></i> piyushjaiswal@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> surathkal, india - 575025 </a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
       
        </div>

    </div>

    <div class="credit"> created by <span>Jitendra Mewada (NITK)</span> | MCA 2024</div>

</section>


<script type="text/javascript" src="/javascript/script.js"></script>

</body>
</html>